.fadein-ani {
  animation-duration: 500ms;
  animation-name: fadein;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.slidein-ani {
  animation-duration: 500ms;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    offset: 10px;
  }

  to {
    offset: 0px;
  }
}

.loading-ani {
  align-items: center;
  text-align: center;
  animation-name: loading-ani;
  animation-iteration-count: infinite;
  font-size: 20px;
}

.dot {
  position: relative;
  animation: jump-ani 0.7s infinite;
}

.dot.n1 {
  animation-delay: 0.2s;
}
.dot.n2 {
  animation-delay: 0.3s;
}
.dot.n3 {
  animation-delay: 0.4s;
}

@keyframes jump-ani {
  10% {
    bottom: 0px;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: 0px;
  }
}
